html {
    font-size: 14px;
    font-family: Inter;
}

body {
    background-color: var(--bgcolor2);
    color: var(--textcolor1);

    height: 100vh;
    padding: 24px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-container {
    background-color: var(--bgcolor1);
    border-radius: 15px;
    
    /* width: 100%; */
    padding: 24px;
    gap: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

header img {
    width: 86px;
    border-radius: 50%;
    margin: 0 auto;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 12px;
}

.user-name {
    font-size: 1.7rem;
    font-weight: 600;
}

.user-town {
    font-size: 1rem;
    color: var(--textcolor2);
}

header p {
    text-align: center;
    padding: 0 24px;
}

nav {
    width: 100%;
}

nav ul {

    display: flex;
    flex-direction: column;
    gap: 16px;
}

nav ul li {
    background-color: var(--buttoncolor);

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: 600;

    padding: 14px;
    border-radius: 6px;

    transition: 0.1s ease-in-out;
}

nav ul li:hover {
    background-color: var(--textcolor2);
    color: var(--bgcolor2);
}